@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@100&display=swap');

:root{
--accent:#3978be;
--text:#f8f8ff;
--dark-text:#3a3a3a;
--main-font:'Anton', sans-serif;
--secondary-font:'Roboto', sans-serif;
--icon-color:#d6a052;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style:none;
}

i{
    padding:0;
    margin:0;
}
html{
    overflow-x: hidden;
}

body{
    list-style: none;
    text-decoration:none;
    font-family:var(--secondary-font);
    text-transform: uppercase;
}
/*RESPONSIVE NAVIGATION*************************************/


/*RESPONSIVE NAVIGATION*************************************/
.secondary-nav-wrapper{
    position:fixed;
    top:0;
    right:0;
    background-color:#000;
    width:40%;
    height:100%;
    z-index:9999;
    border-radius:0 0 0 500px;
    display:none;
}

.secondary-nav ul{
    position:absolute;
    top:45%;
    left:55%;
    transform:translate(-50%, -50%);
}
.secondary-nav ul li a{
    color:var(--text);
    text-decoration:none;
    font-size:1.1rem;
    font-family:var(--secondary-font);
    padding:0;
    line-height:5rem;
    
}
.close{
    position:absolute;
    top:20px;
    right:80px;
    color:var(--text);
}
.close i{
    font-size:2rem;
    cursor:pointer;
}
/******************************************************/



/******************************************************/

h1{
    font-family:var(--main-font);
}

.sct{
    background: rgb(2,0,36);
    background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,8,57,1) 34%, rgba(57,120,190,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,8,57,1) 34%, rgba(57,120,190,1) 100%);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,8,57,1) 34%, rgba(57,120,190,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#3978be",GradientType=1);
    color:var(--text);
    height:auto;
    padding:30px;
}

.sct p{
    letter-spacing:3px;
    font-size:1.3rem;
    line-height:2rem;
}
.sct-title{
    font-size:5rem;
    letter-spacing:3px;
    text-transform:uppercase;
    text-align: center;
}

.jumbotron{
    background:linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(Images/business-formation.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height:100vh;
}

.container{
    max-width:1140px;
    margin:0 auto;
}

.logo{
    width:120px;
    height:70px;
    cursor:pointer;
}
/* START OF MAIN NAVIGATION*/

/* START OF MAIN NAVIGATION*/

.open i{
    color:var(--text);
    font-size:2rem;
    cursor:pointer;
    display:none;
}

.nav-btn{
    border:none;
    outline:none;
    background-color:var(--accent);
    padding:10px;
    text-transform:uppercase;
    color:var(--text);
    letter-spacing:2px;
    border-radius:20px;
}

.nav-btn:hover{
    background-color:#26447f;
    transition: 0.3s ease-in-out;
}


.main-nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top:0;
    z-index:999;
    background-color:#000;
    width:100%;
}

.main-nav ul li{
    display:inline-block;
    margin:10px 30px 0 30px;
    list-style:none;
}

.main-nav ul li a{
    text-decoration:none;
    color:var(--text);
    font-size:0.8rem;
    text-transform:uppercase;
    letter-spacing:0.4rem;
}

.main-nav ul li a{
    color:var(--text);
}

.main-nav ul li a:hover{
    color:var(--accent);
    transition: 0.3s ease-in-out;
}

.main-nav ul li .active{
    color:var(--accent);
    border-bottom: 2px solid var(--accent);
    font-weight: bold;
}
.heading{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}

.heading-2{
    color:#fff;
    position:absolute;
    top:33%;
    left:65%;
    text-transform:uppercase;
    background-color:rgba(0, 0, 0, 0.6);
    width:30%;
    height:40%;
    padding:30px;
    border-radius:5px;
}

.heading-2 h3{
    font-weight: bold;
    font-family:var(--main-font);
    letter-spacing:2px;
}

.heading-2 h3 span{
    font-size:3rem;
    text-decoration:underline;
}

.heading-2 .indent{
    position:absolute;
    left:3rem;
}

.heading-2 .btn{
    position:absolute;
    top:12rem;
}

.heading h1{
    font-size:4.8rem;
    text-transform:uppercase;
    letter-spacing:4px;
    color:var(--text);
    max-width:60%;
}

.heading h1 span{
    font-size:8rem;
    color:var(--accent);
    text-decoration:underline;
}
.heading p{
    color:var(--text);
    font-size:1rem;
    text-transform: uppercase;
    letter-spacing:2px;
}

.btn{
    background-color:var(--accent);
    color:var(--text);
    padding:20px;
    cursor:pointer;
    margin:30px 0 0 0;
    text-transform: uppercase;
    letter-spacing:2px;
    border:none;
    outline: none;
}

.btn:hover{
    background-color:#26447f;
    color:var(--text);
}

.main-content{
    padding-top:9rem;
}
.secondary-title{
    font-family:var(--secondary-font);
    font-size:4.5rem;
    letter-spacing:2px;
}

.list-grid{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
}
.sct-2-img img{
    width:120%;
    height:100%;
}

.list-grid ul li{
    line-height:5rem;
    font-size:1.5rem;
    font-family:var(--main-font);
    letter-spacing:3.5px;
}

/*section 3 **/

.sct-3{
    height:auto;
    display:flex;
    flex-direction:column;
    justify-content: center;
}

.sct-3{
    text-align:center;
}
.sct-3-grid{
    display:grid;
    grid-template-columns: repeat(5,5fr);
}

.grid-items{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    font-family:var(--secondary-font);
    letter-spacing:3px;
    margin:0 10px 0 10px;
}

.gi1{
    background:linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(Images/gi1.jpg);
    background-position: center;
    background-size: cover;
    padding:4rem;
    border-radius:5px;
}
.gi2{
    background:linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(Images/gi2.jpg);
    background-position: center;
    background-size: cover;
    padding:4rem;
    border-radius:5px;
}
.gi3{
    background:linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(Images/gi3.jpg);
    background-position: center;
    background-size: cover;
    padding:4rem;
    border-radius:5px;
}
.gi4{
    background:linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(Images/gi4.jpg);
    background-position: center;
    background-size: cover;
    padding:4rem;
    border-radius:5px;
}
.gi5{
    background:linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(Images/gi5v2.jpg);
    background-position: center;
    background-size: cover;
    padding:4rem;
    border-radius:5px;
}





/*Footer*/

footer{
    text-align:center;
    margin-top:auto;
    background-color:#000;
    color:var(--text);
}

.social-icons i{
    font-size:1.5rem;
    margin:0 15px 10px 15px;
    cursor:pointer;
}

.social-icons i:hover{
    color:var(--accent);
}

.ftr-nav {
    display:flex;
    flex-direction:row;
    align-items:center;
}

.sct-4 .faq a{
    color:var(--text);  
    letter-spacing:2px;
    font-size:1.2rem;
}

.ftr-nav p{
    font-size:0.8rem;
}

.ftr-nav ul li{
    display:inline-block;
    margin:0 30px 0 30px;
    letter-spacing:2px;
    cursor:pointer;
    font-size:0.8rem;
}

.ftr-nav ul li a {
    text-decoration:none;
    color:var(--text);
}

.footer-btm{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.footer-btm .copyright{
    padding-right:32px;
}

/****MEDIA QUERIES************/

/* IPAD LANDSCSCAPE************/

@media only screen and (max-width:1366px){
    .body{
        overflow-x:hidden;
    }



    .sct-2{
        background:linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(Images/benifits.jpg);
    background-position: center;
    background-size: cover;
    }

    .list-grid{
        display:block;
        text-align:center;
        padding-top:-60px;
    }

    .sct-2-img{
        display:none;
    }
    
    .open i{
        display:none;
    }

    .secondary-nav-wrapper .nav-btn{
        display:none;
    }
    
    .main-nav{
        justify-content: space-between;
    }

    .logo img{
        margin:0 80px 0 80px;
    }

    .open i{
        margin:0 80px 0 80px;
    }
    
    .main-nav ul{
        display:block;
    }

    .nav-btn{
        display:none;
    }

    .jumbotron .heading{
        width:70%;
    }

    .heading-2{
        display:block;
    }

    /*NAVIGATION*********************/
    .heading h1{
        max-width:80%;
    }

    .sct-3-grid{
        display:grid;
        grid-template-columns: repeat(5,3fr);
    }

    .grid-items{
        display:flex;
        justify-content:center;
        align-items:center;
        text-align: center;
        font-family:var(--secondary-font);
        letter-spacing:3px;
        margin:0 5px 0 5px;
    }


    /*HEADING*************************/

}

/* ipad regular */

@media only screen and (max-width:1024px){

    .open i{
        display:block;
    }

    .secondary-nav-wrapper .nav-btn{
        display:block;
    }
    
    .main-nav{
        justify-content: space-between;
    }

    .logo img{
        margin:0 80px 0 80px;
    }

    .open i{
        margin:0 80px 0 80px;
    }
    
    .main-nav ul{
        display:none;
    }

    .nav-btn{
        display:none;
    }


.secondary-nav-wrapper{
    width:55%;
}

.heading{
    padding-left:30px;
}

.jumbotron .heading{
    width:100%;
}
.heading-2{
    display:none;
}
.sct-2-5{
    height:auto;
    padding-bottom:80px;
}

.sct-3 .grid-item-text{
    width:80%;
    margin:0 auto;
}

}


/*iphone  6/7/8 plus and below*/

@media only screen and (max-width:414px){
    /*copy and paste************/
    body{
        overflow-x:hidden;
    }
    
    .main-nav{
        justify-content:space-between;
        max-width:414px;
    }
    
    .secondary-nav-wrapper{
        width:100%;
        border-radius:0;
    }

    .sct-3-grid{
        display:flex;
        flex-direction:column;
    }

    .grid-items{
        margin-top:40px;
        margin-bottom:40px;

        
    }

    .close{
        position:absolute;
        top:10px;
        right:45px;
    }

    .secondary-nav ul{
        padding:0;
    }

    .secondary-nav ul li a {
        font-size:1rem;
        text-align:center;
    }

    .heading{
        padding:0;
        top:50%;
    }

    .heading h1{
        font-size:2rem;
        width:100%;
        margin:0;
        line-height:3rem;
    }

    .heading h1 span{
        font-size:3rem;
    }

    .heading p{
        font-size:1rem;
        width:80%;
        margin:0;
        line-height:2rem;
    }

    .btn{
        margin:5px 0 0 0;
    }

    .logo{
        width:80px;
        height:50px;
        cursor:pointer;
    }

    .open i{
        margin-right:40px;
    }

    .logo img{
        margin-left:40px;
        padding:0;
    }

    .jumbotron{
        max-width: 414px;
        width:414px;
        height:100vh;
    }

    /*End of copy and paste ***********/

        .sct-title{
            font-size:4rem;
            padding-bottom:20px;
        }

        .heading2-5{
            font-size:4rem;
        }

        .sct-2{
            padding:20;
            background:linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(Images/benifits.jpg);
            background-size: cover;
            background-repeat:no-repeat;
            background-position: center;
        }

        .sct-2 .col{
            padding:0;
        }

    .sct-2-5 .grid-container{
        display: grid;
        grid-template-columns: repeat(1,2fr);
    }

    /* copy amd paste*************/
    .footer-btm{
        display:flex;
        align-items: center;
        justify-content:center;
    }

    .ftr-nav {
        display:none;
    }
    
    .footer-btm .copyright p{
        font-size:0.8rem;
        padding:0;
    }

    /* End of copy and paste ******/

}