@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@100&display=swap');

:root{
--accent:#3978be;
--text:#f8f8ff;
--dark-text:#3a3a3a;
--main-font:'Anton', sans-serif;
--secondary-font:'Roboto', sans-serif;
--icon-color:#d6a052;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style:none;
}

i{
    padding:0;
    margin:0;
}

body{
    list-style: none;
    text-decoration:none;
    font-family:var(--secondary-font);
    text-transform: uppercase;
}

h1{
    font-family:var(--main-font);
}

.sct{
    background: rgb(2,0,36);
    background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,8,57,1) 34%, rgba(57,120,190,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,8,57,1) 34%, rgba(57,120,190,1) 100%);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,8,57,1) 34%, rgba(57,120,190,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#3978be",GradientType=1);
    color:var(--text);
    height:100vh;
}

.sct p{
    letter-spacing:3px;
    font-size:1.3rem;
    line-height:2rem;
}
.sct-title{
    font-size:5rem;
    letter-spacing:3px;
    text-transform:uppercase;
    text-align: center;
}

.jumbotron{
    background:linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(Images/funding2.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height:100vh;
}

.container{
    max-width:1140px;
    margin:0 auto;
}

.logo{
    width:120px;
    height:70px;
    cursor:pointer;
}
/* START OF MAIN NAVIGATION*/

.open i{
    color:var(--text);
    font-size:2rem;
    cursor:pointer;
    display:none;
}

.nav-btn{
    border:none;
    outline:none;
    background-color:var(--accent);
    padding:10px;
    text-transform:uppercase;
    color:var(--text);
    letter-spacing:2px;
    border-radius:20px;
}

.nav-btn:hover{
    background-color:#26447f;
    transition: 0.3s ease-in-out;
}


.main-nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top:0;
    z-index:999;
    background-color:#000;
    width:100%;
}

.main-nav ul li{
    display:inline-block;
    margin:10px 30px 0 30px;
    list-style:none;
}

.main-nav ul li a{
    text-decoration:none;
    color:var(--text);
    font-size:0.8rem;
    text-transform:uppercase;
    letter-spacing:0.4rem;
}

.main-nav ul li a{
    color:var(--text);
}

.main-nav ul li a:hover{
    color:var(--accent);
    transition: 0.3s ease-in-out;
}

.main-nav ul li .active{
    color:var(--accent);
    border-bottom: 2px solid var(--accent);
    font-weight: bold;
}

.heading{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}

.heading h1{
    font-size:4.8rem;
    text-transform:uppercase;
    letter-spacing:4px;
    color:var(--text);
    max-width:60%;
}

.btn{
    background-color:var(--accent);
    color:var(--text);
    padding:20px;
    margin:0 auto;
    cursor:pointer;
    text-transform: uppercase;
    letter-spacing:2px;
    border:none;
    outline: none;
}

.btn:hover{
    background-color:#26447f;
    color:var(--text);
}

/*SECTION 2*/

.sct-2{
    height:auto;
}



.sct-2 .container{
    background:linear-gradient(rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78)), url(Images/kickstart680.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
    padding:30px;
}



.program{
    text-decoration:underline;
    font-size:3rem;
    letter-spacing:2px;
}
 
.sub-heading{
    font-size:2.5rem;
    letter-spacing:4px;
    margin-top:30px;
}

.overview ol li{
    list-style-type:initial;
    font-size:20.8px;
}
.requirements ul li{
    list-style-type:initial;
    font-size:20.8px;
    font-family:var(--main-font);
    letter-spacing:1px;
}
 
 .empha li em{
    font-family:var(--secondary-font);
    font-size:1.2rem;
}
.overview ol li span{
    font-family:var(--main-font);
    letter-spacing:2px;
    font-size:1.5rem;
}

.sct-3{
    height:auto;
    padding:60px
}

.sct-3 .container{
    background:linear-gradient(rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78)), url(Images/funding3.jpg);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    padding:30px;
}

.sct-3 .overview ol li{
    list-style:none;
}

/*Footer*/

footer{
    text-align:center;
    margin-top:auto;
    background-color:#000;
    color:var(--text);
}

.social-icons i{
    font-size:1.5rem;
    margin:0 15px 10px 15px;
    cursor:pointer;
}

.social-icons i:hover{
    color:var(--accent);
}

.ftr-nav {
    display:flex;
    flex-direction:row;
    align-items:center;
}

 .sct-4 .faq a{
    color:var(--text);  
    letter-spacing:2px;
    font-size:1.2rem;
}

.ftr-nav p{
    font-size:0.8rem;
}

.ftr-nav ul li{
    display:inline-block;
    margin:0 30px 0 30px;
    letter-spacing:2px;
    cursor:pointer;
    font-size:0.8rem;
}

.ftr-nav ul li a {
    text-decoration:none;
    color:var(--text);
}

.footer-btm{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.footer-btm .copyright{
    padding-right:32px;
}